Arithmetic Operations:

In [1]:
a = 9
b = 5
a+b

14

In [2]:
a-b

4

In [3]:
a*b

45

In [4]:
a/b

1.8

In [5]:
a%b

4

In [6]:
c = a+b

In [14]:
c

14

use '#' to make a comment.

In [13]:
#This is a comment!

input and print function:

In [15]:
print(a+b,c)

14 14

In [16]:
a = input("Enter your name:")

Enter your name:Yukti

In [17]:
print(a)

Yukti

In [18]:
b = input("enter age:")

enter age:20

In [19]:
print(a, b)

Yukti 20

Type casting:

In [20]:
test_string1 = "12.5"
test_string2 = "12"
test_string3 = "12.5h"

In [21]:
print( float(test_string1))
print( float(test_string2))
print( float(test_string3))

12.5
12.0

ValueError: could not convert string to float: '12.5h'

In [24]:
print( type(float(test_string1)))
print( type(int(test_string2)))
print( type(test_string3))

<class 'float'>
<class 'int'>
<class 'str'>

== operator:
    
checks if the value on left is equal to the value on right

returns a boolen answer

In [25]:
x = 0.3
y = 0.7

x+y == 1.0

True

In [26]:
0.1 + 0.2 == 0.3

False

In [27]:
x = 0.1+0.1+0.1

In [28]:
y = 0.3

In [29]:
x - y < 0.00000001

True

In [30]:
print(x)

0.30000000000000004

In [31]:
print(y)

0.3

In [33]:
a.__sizeof__()

54

In [34]:
help(a.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [36]:
print(a)
a.count('i')

Yukti

1

In [39]:
a[2]

'k'

In [40]:
len(a)

5

In [43]:
a[0] + a[1]

'Yu'

Slicing:

In [44]:
name = 'Maharaja Surajmal'

In [45]:
name

'Maharaja Surajmal'

In [46]:
name[0:6]

'Mahara'

In [47]:
name[0::2]

'Mhrj uaml'

In [57]:
name[17: :-1]

'lamjaruS ajarahaM'

In [55]:
len(name)

17

### Loop: 
 
1. for loop

In [58]:
for i in name:
    print(i)

M
a
h
a
r
a
j
a

S
u
r
a
j
m
a
l

In [59]:
for kuchbhi in name:
    print(kuchbhi)
    print("hello")

M
hello
a
hello
h
hello
a
hello
r
hello
a
hello
j
hello
a
hello

hello
S
hello
u
hello
r
hello
a
hello
j
hello
m
hello
a
hello
l
hello

In [61]:
for kuchbhi in name:
        print(kuchbhi)
    print("hello")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [62]:
for a in name:
    print(a, end = ' ')

M a h a r a j a   S u r a j m a l

### Lists

In [63]:
my_list = []

In [64]:
my_list

[]

In [65]:
my_list[0] = 12

IndexError: list assignment index out of range

In [66]:
my_list.append(12)

In [67]:
my_list

[12]

In [68]:
my_list.append("video")

In [69]:
my_list

[12, 'video']

In [70]:
my_list.append(12.5)
my_list

[12, 'video', 12.5]

In [71]:
my_list[:]

[12, 'video', 12.5]

In [72]:
for item in my_list:
    print(item)

12
video
12.5

In [73]:
new_list = [0,1,2]
my_list.append(new_list)
my_list

[12, 'video', 12.5, [0, 1, 2]]

In [74]:
my_list[3][1]

1

In [75]:
my_list[1] = "music"

In [76]:
my_list

[12, 'music', 12.5, [0, 1, 2]]